.job {
  .header {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .content {
    margin: 20px 0;
    p {
      margin-bottom: 8px;
    }
    .title {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .apply {
    padding: 8px 24px;
    border-radius: 25px;
  }
  .applied {
    font-size: 18px;
    color: #f20404;
  }
  .actions {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}