.header {
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  a {
    font-size: 18px;
    text-decoration: none;
    color: #000000;
  }
  .logo {
    max-width: 500px;
  }
  .nav-links {
    a {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .auth-links {
    .profile {
      margin-right: 20px;
    }

    .login,
    .profile {
      padding: 12px 24px;
      background: #f20404;
      border-radius: 10px;
      color: #ffffff;
    }
    .logout {
      padding: 12px 24px;
      border-radius: 10px;
      border: 1px solid #a9a9a9;
      color: #a9a9a9;
      &:hover {
        background: #a9a9a9;
        color: #ffffff;
      }
    }
  }
}
